<ion-view view-title="{{ detail.tweet.user.screen_name }} tweets...">
  <ion-content class="padding">

    <div class="tweet"
         ng-if="!!detail.tweet">
      <span>{{ detail.tweet.created_at }}</span>

      <div class="card">
        <img ng-src="{{detail.tweet.user.profile_image_url}}"
             title="{{ detail.tweet.user.screen_name }}"
             class="size64">
        <p ng-bind-html="detail.tweet.text | linky"
           ng-click="openLinkInApp($event)">
          {{ detail.tweet.text }}
        </p>
      </div>
    </div>

    <h4 ng-if="!detail.tweet">
      No tweets loaded. TODO: make server request for this id
    </h4>

  </ion-content>
</ion-view>
