<ion-view view-title="tweet id or so">
  <ion-content class="padding">

    <div class="tweet"
         ng-if="!!detail.tweet">
      <span>
        <img ng-src="{{detail.tweet.user.profile_image_url}}"
             title="{{ detail.tweet.user.screen_name }}"
             class="size64">
        <span>{{ detail.tweet.created_at }}</span>
      </span>
      <div class="card"
           ng-bind-html="detail.tweet.text | linky">
        {{ detail.tweet.text }}
      </div>
    </div>

    <h4 ng-if="!detail.tweet">
      No tweets loaded. TODO: make server request for this id
    </h4>

  </ion-content>
</ion-view>
