<ion-tabs class="tabs-icon-top tabs-dark">

  <ion-tab title="{{'search' | translate}}" icon="ion-search" ui-sref="main.search">
    <ion-nav-view name="searchPage"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{'tweets' | translate}}" icon="ion-social-twitter" ui-sref="main.list">
    <ion-nav-view name="tweetsPage"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{'info' | translate}}" icon="ion-ios-information" ui-sref="main.info">
    <ion-nav-view name="infoPage"></ion-nav-view>
  </ion-tab>

</ion-tabs>
